<html>
<head>
</head>
<body>

    <script>
        function data() {
            var name = document.getElementById("name").value;
            var dob = document.getElementById("dob").value;
            var state = document.getElementById("state").value;
            var gender = document.getElementById("gender").value;
            var mobile = document.getElementById("mobile").value;
            var mail = document.getElementById("mail").value;
            var pass = document.getElementById("pass").value;
            var conpass = document.getElementById("conpass").value;
            var address = document.getElementById("address").value;           
            var check = 0;

             
            if (name == "") 
            {
                document.getElementById('spanuser').innerHTML = "**Required**";
            } 
            else 
            {
                document.getElementById('spanuser').innerHTML = "";
                check++;
            }

            if (dob == "") 
            {
                document.getElementById('spandob').innerHTML = "**Required**";
            }
            else
            {
                document.getElementById('spandob').innerHTML = "";
                check++;
            }


            if (state == "") 
             {
                document.getElementById('spanstate').innerHTML = "**required**";

            }
            if (gender == "")
            {
                document.getElementById('spangender').innerHTML = "***";
                
            }

            if (mobile.length != 10) 
           {
                document.getElementById('spanmobile').innerHTML = "Must be 10 Digit";
               
            }
            else 
            {
                document.getElementById('spanmobile').innerHTML = "";
                check++;
            }

            if (mail == "") {
                document.getElementById('spanmail').innerHTML = "**Required**";

            }
            else if ((mail.charAt(mail.length - 4) != '.') && (name.charAt(mail.length - 3) != '.')) {
                document.getElementById('spanmail').innerHTML = "* Invalid mail Address*";
            }
            else
            {
                document.getElementById('spanmail').innerHTML = "";
                check++;
            }


            
            


            if (pass == "") {
                document.getElementById('spanpass').innerHTML = "**Password Required**";
                
            }
            else
            {
                document.getElementById('spanpass').innerHTML = "";
                check++;
            }

            if (conpass == "") {
                document.getElementById('spanconpass').innerHTML = "**Confirm Password**";

            }
            else
            {
                document.getElementById('spanconpass').innerHTML = "";
                check++;
            }
            
            if (pass != conpass) {
                document.getElementById('spanconpass').innerHTML = "**Password Mismatched**";
                
            }
            else
            { 
                document.getElementById('spanconpass').innerHTML = "";
                check++;
            }

           if (address == "") 
           {
                document.getElementById('spanaddress').innerHTML = "**Address Required**";

            }             
            else 
            {
                document.getElementById('spanaddress').innerHTML = "";
               check++;
            }

            if (check == 8) {
                alert("Name :" + name + "\n"
                    + "DOB :" + dob + "\n"
                    + "E-Mail : " + mail + "\n"
                    + " State : " + state + "\n"
                    + "Address :" + address + "\n"
                );
            }
        }
    </script>


    <div class="card mt-lg-5">

        <form name="myForm">
            <div class="topp card-header text-center ">
                <h1><strong> REGISTRATION FORM </strong>  </h1>
            </div>

            <div class="row">
                <div class="col">
                    <label> Name :  </label>
                    <input type="text" id="name" name="fullname" class="text" placeholder="Enter Full Name" />
                    <span id="spanuser" class="text-danger"></span>
                </div>
                <div class="col">
                    <label> Date Of Birth : </label>
                    <input type="date" name="date" class="text" id="dob" />
                    <span id="spandob" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label>
                        State :
                    </label>
                    <select class="text dropdown-toggle dropdown-toggle-split" id="state">
                        <span id="spanstate" class="text-danger"></span>
                        <option value="Select State">Select</option>
                        <option value="Bihar">Bihar</option>
                        <option value="MP">MP</option>
                        <option value="UP">UP</option>
                        <option value="North-East">North-East</option>
                        <option value="Other">Other</option>
                    </select>
                    <span id="spanstate" class="text-danger"></span>
                </div>
                <div class="col">
                    <label>
                        Gender :
                    </label>

                    <input class="form-check-input" type="radio" name="gender" id="gender">
                    <span id="spangender" class="text-danger"></span>
                    <label class="form-check-label">
                        Male
                    </label>
                    <input class="form-check-input" type="radio" name="gender" id="gender">
                    <label class="form-check-label">
                        Female
                    </label>
                    <input class="form-check-input" type="radio" name="gender" id="gender">
                    <label class="form-check-label">
                        Other
                    </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label> Mobile:  </label>
                    <input type="text" name="mobile" class="text" placeholder="Enter Mobile No" id="mobile" />
                    <span id="spanmobile" class="text-danger"></span>
                </div>
                <div class="col">
                    Email:
                    <input type="email" id="mail" name="mail" class="text" placeholder="Enter E-Mail ID" />
                    <span id="spanmail" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    Password:
                    <input type="Password" id="pass" name="pass" class="text" placeholder="Enter Password" />
                    <span id="spanpass" class="text-danger"></span>
                </div>
                <div class="col">
                    Re-Type:
                    <input type="Password" id="conpass" name="conpass" class="text" placeholder="Confirm Password" />
                    <span id="spanconpass" class="text-danger"></span><br>
                </div>
            </div>

            Address :
            <br>
            <textarea class="text w-100" value="address" id="address"></textarea>
            <span id="spanaddress" class="text-danger"></span><br>
            <label>
                <input type="checkbox">
                <span></span>
                All the details is correct and I accept all the <a href="https://xtranetindia.com/">Terms And Condiiton.</a>
            </label>

@*             <input type="submit" value="Submit" class="btn button btn-outline-success"/> *@
            
            <button type="button" class="btn button btn-outline-success" onclick="data()"> SUBMIT </button>
        </form>

    </div>

    
    
</body>
</html>